## In this notebook, I will write a script to do some cleaning on the 'State-Territory-Dementia-2011-2020.xlsx' dataset to get the dataset required to create an interactive map on Tableau which will show the Statistics of Dementia Patients in Australia from year 2011-2020

First,let's import the necessary libraries

In [1]:
import pandas as pd                                 # To manipulate dataframes
import warnings                                     # To ignore the warnings in order to beautify the script
warnings.filterwarnings('ignore')

### Now, let's read the 'State-Territory-Dementia-2011-2020.xlsx' and store it as df

In [2]:
df = pd.read_excel('State-Territory-Dementia-2011-2020.xlsx')

### Let's have a look at the dataset

In [3]:
df

   States  Males  Females  Persons  Year
0     NSW  38200    63600   101800  2011
1     Vic  28600    47300    75900  2011
2     Qld  21500    33300    54700  2011
3      WA  10500    16400    26900  2011
4      SA   9700    16700    26500  2011
5     Tas   2900     4700     7600  2011
6     ACT   1400     2200     3600  2011
7      NT    500      500     1000  2011
8     NSW  39500    65900   105500  2012
9     Vic  29700    49400    79100  2012
10    Qld  22700    35200    58000  2012
11     WA  11100    17300    28400  2012
12     SA  10100    17400    27500  2012
13    Tas   3000     4900     7900  2012
14    ACT   1500     2400     3800  2012
15     NT    500      600     1000  2012
16    NSW  40900    67800   108700  2013
17    Vic  30700    50800    81600  2013
18    Qld  23700    36500    60300  2013
19     WA  11600    18000    29600  2013
20     SA  10400    17800    28300  2013
21    Tas   3100     5100     8200  2013
22    ACT   1500     2400     4000  2013
23     NT    500      600     1100  2013
24    NSW  42300    69600   111900  2014
25    Vic  31800    52300    84100  2014
26    Qld  24700    37900    62600  2014
27     WA  12100    18600    30700  2014
28     SA  10800    18300    29000  2014
29    Tas   3200     5200     8400  2014
..    ...    ...      ...      ...   ...
50    Qld  28100    42200    70300  2017
51     WA  13800    20800    34600  2017
52     SA  11700    19500    31200  2017
53    Tas   3500     5600     9100  2017
54    ACT   1800     2800     4600  2017
55     NT    600      700     1300  2017
56    NSW  48200    77000   125200  2018
57    Vic  36400    58200    94600  2018
58    Qld  29300    43600    72900  2018
59     WA  14400    21600    36000  2018
60     SA  12100    19900    32000  2018
61    Tas   3600     5700     9400  2018
62    ACT   1900     2900     4800  2018
63     NT    700      700     1400  2018
64    NSW  49700    78800   128600  2019
65    Vic  37700    59700    97400  2019
66    Qld  30500    45100    75600  2019
67     WA  15000    22300    37300  2019
68     SA  12400    20300    32700  2019
69    Tas   3800     5900     9600  2019
70    ACT   1900     3000     5000  2019
71     NT    700      800     1500  2019
72    NSW  51300    80800   132100  2020
73    Vic  38900    61300   100200  2020
74    Qld  31800    46800    78600  2020
75     WA  15600    23200    38800  2020
76     SA  12800    20700    33500  2020
77    Tas   3900     6000     9900  2020
78    ACT   2000     3100     5200  2020
79     NT    700      800     1500  2020

[80 rows x 5 columns]

### So, the dataset has information of number of male, female and overall Dementia patients in Australia from year 2011 to 2020 in all the 8 States

### The next step is to change the name of the States from Abbreviation to the full form in order to match it with Shape file of the States

In [4]:
for index,value in enumerate(df.States):
    if value == "NSW":
        new_value = 'New South Wales'
        df.States[index]=new_value
    if value == "Vic":
        new_value = 'Victoria'
        df.States[index]=new_value
    if value == "Qld":
        new_value = 'Queensland'
        df.States[index]=new_value
    if value == "WA":
        new_value = 'Western Australia'
        df.States[index]=new_value
    if value == "SA":
        new_value = 'South Australia'
        df.States[index]=new_value
    if value == "Tas":
        new_value = 'Tasmania'
        df.States[index]=new_value
    if value == "ACT":
        new_value = 'Australian Capital Territory'
        df.States[index]=new_value
    if value == "NT":
        new_value = 'Northern Territory'
        df.States[index]=new_value

In [5]:
df.head()

              States  Males  Females  Persons  Year
0    New South Wales  38200    63600   101800  2011
1           Victoria  28600    47300    75900  2011
2         Queensland  21500    33300    54700  2011
3  Western Australia  10500    16400    26900  2011
4    South Australia   9700    16700    26500  2011

### Now, the dataset looks good is ready to create the map in the Tableau. So, let's export the dataset

In [6]:
df.to_excel('stats.xlsx')

## References

https://www.aihw.gov.au/reports/dementia/dementia-in-australia/data